<link rel="stylesheet" href='/stylesheets/style.css' />
<video autoplay loop muted id="background" class="video">
  <source src="https://res.cloudinary.com/dt9z4xs6m/video/upload/v1605824975/movie/lisbon_uqch1o.mp4" type="video/mp4">
</video>

<nav class="navbar fixed-top navbar-light bg-light">
  <a class="navbar-brand" href="/">
    <img src="/images/purple-stars.png" width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy">
    {{title}}
  </a>
</nav>
<div class="login-signup">
  <h2>Login</h2>
  <form action="/login" method="POST">
    <div class="inputBox">
      <input type="text" name="username" placeholder="username">
      <label>Username</label>
    </div>
    <div class="inputBox">
      <input id="pass-login" type="password" name="password" placeholder="********">
      <label>Password</label>
    </div>
    <button class="btn btn-info" type="submit" id="input-style">Login</button>
  </form>
  <a id="signup-anchor" href="/signup">Sign up here</a>
</div>